* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}
.container {
    width: 70%;
    height: 50%;
}
div {
    width: 150px;
    height: 100px;
    color: white;
    background-color: cadetblue;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color, border, border-radius, transform;
    transition-duration: 1s, 1s, 4s, 7s;
    transition-delay: 1s;
}
div:hover {
    color: cadetblue;
    background-color: white;
    border: 1px solid cadetblue;
    border-radius: 50px;
    transform: translate(300px, 0);
}
.ease {
    transition-timing-function: ease;
}
.ease-in {
    transition-timing-function: ease-in;
}
.ease-out {
    transition-timing-function: ease-out;
}
.ease-in-out {
    transition-timing-function: ease-in-out;
}
.linear {
    transition-timing-function: linear;
}