* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: black;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    text-align: center;
    padding: 40px 80px;
    position: relative;
    transition: all .5s;
    overflow: hidden;
    color: darkslateblue;
    border: 3px solid darkslateblue;
}
a:hover:not(.stretch, .swipe-text, .layer, .scale) {
    color: white;
}
a::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
    z-index: -1;
    background-color: darkslateblue;
}
a::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
    z-index: -1;
    background-color: darkslateblue;
    transform: rotateY(90deg);
}


a.rotate::before {
    transform: rotate(-90deg);
    transform-origin: bottom right;
}
a.rotate:hover::before {
    transform: rotate(0deg);
}




a.swipe::before {
    transform: translate(-100%);
}
a.swipe:hover::before {
    transform: translate(0);
}



a.hover::before {
    transform: rotateX(90deg);
}
a.hover:hover::before {
    transform: rotateX(0deg);
}
a.hover:hover::after {
    transform: rotateY(0deg);
}



a.stretch::before {
    display: none;
}
a.stretch:hover {
    font-weight: bold;
    letter-spacing: 3px;
    border: 6px solid darkslateblue;
}



a.swipe-text::before {
    content: 'YEAH!';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
a.swipe-text::before {
    transform: translateY(-100%);
}
a.swipe-text:hover::before {
    transform: translate(0);
}



a.glow::before {
    background-color: rgb(200, 200, 200);
    transform: translate(-100%) rotate(45deg);
}
a.glow:hover {
    background-color: darkslateblue;
}
a.glow:hover::before {
    transform: translate(100%) rotate(45deg);
}



a.layer {
    color: transparent;
    background-color: darkslateblue;
}
a.layer::before {
    content: 'Hover Me';
    color: darkslateblue;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.layer::after {
    content: 'Hover Me';
    color: darkslateblue;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-100%, 100%);
}
a.layer:hover::before {
    transform: translate(100%, -100%);
}
a.layer:hover::after {
    transform: translate(0, 0);
}



a.scale::before {
    content: 'Hover Me';
    color: white;
    z-index: 1;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
}
a.scale:hover::before {
    transform: scale(1);
    opacity: 1;
}