* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
}
body {
    flex: 0 0 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
figure {
    width: 240px;
    height: 240px;
    position: relative;
    overflow: hidden;
    border: 3px solid #6F4C3F;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}
figcaption {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #6f4c3f88;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
figcaption h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: all .5s;
}
figcaption p {
    text-transform: capitalize;
    font-size: 1rem;
    transition: all .5s;
}


.img-1 figcaption {
    top: 0;
    left: 0;
    opacity: 0;
}
.img-1:hover figcaption {
    opacity: 1;
}
.img-1:hover img {
    transform: scale(1.3) rotate(15deg);
}



.img-2 figcaption {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
.img-2:hover figcaption {
    transform: translateX(0);
}
.img-2:hover img {
    transform: scale(1.3) rotate(-15deg);
}



.img-3 figcaption {
    top: 0;
    left: 0;
    background-color: #6F4C3F;
    transform: translateX(-100%);
}
.img-3:hover figcaption {
    transform: translateX(0);
}
.img-3:hover img {
    transform: translateX(100%);
}



.img-4 figcaption {
    bottom: 0;
    right: 0;
    height: 33%;
    background-color: #6F4C3F;
    transform: translateY(100%);
}
.img-4:hover figcaption {
    transform: translateY(0);
}
.img-4:hover img {
    transform: translateY(-33%);
}



.img-5::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all .5s;
    transition-delay: .25s;
    background-color: #6f4c3f88;
}
.img-5:hover::before {
    transform: translateY(0);
    transition-delay: 0s;
}
.img-5 figcaption {
    top: 0;
    left: 0;
    transform: rotateX(90deg);
    transition-delay: 0s;
    background: transparent;
}
.img-5:hover figcaption {
    transform: rotateX(0deg);
    transition-delay: .25s;
}



.img-6 figcaption {
    top: 0;
    left: 0;
    background: transparent;
}
.img-6 figcaption h2 {
    transform: translateY(-150px);
    transition-delay: 0s;
}
.img-6:hover figcaption h2 {
    transform: translateY(0);
    transition-delay: .1s;
}
.img-6 figcaption p {
    margin-bottom: 50px;
    transform: translateX(-250px);
    transition-delay: .1s;
}
.img-6:hover figcaption p {
    transform: translateY(0);
    transition-delay: 0.2s;
}
.img-6 figcaption a {
    width: 100px;
    height: 25px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #6F4C3F;
    color: white;
    display: flex;
    align-items: center;
    transform: translateX(250px);
    transition: all .5s;
    transition-delay: .2s;
}
.img-6:hover figcaption a {
    transform: translateX(0);
    transition-delay: .3s;
}
.img-6::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all .5s;
    background-color: #6f4c3f88;
    transition-delay: .4s;
}
.img-6:hover::before {
    transform: translateY(0);
    transition-delay: 0s;
}



.img-7::before, .img-7::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .5s;
    background-color: #6f4c3f88;
    transition-delay: .3s;
}
.img-7::before {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
.img-7::after {
    bottom: 0;
    right: 0;
    transform: translateX(100%);
}
.img-7:hover::before, .img-7:hover::after {
    transform: translateX(0);
    transition-delay: 0s;
}
.img-7 figcaption {
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1;
}
.img-7 figcaption h2 {
    transform: translateY(-150px);
    transition-delay: 0s;
}
.img-7:hover figcaption h2 {
    transform: translateY(0);
    transition-delay: .1s;
}
.img-7 figcaption p {
    margin-bottom: 50px;
    transform: translateY(-250px);
    transition-delay: .1s;
}
.img-7:hover figcaption p {
    transform: translateY(0);
    transition-delay: .2s;
}
.img-7 figcaption a {
    width: 100px;
    height: 25px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #6F4C3F;
    color: white;
    display: flex;
    align-items: center;
    transform: translateY(-350px);
    transition: all .5s;
    transition-delay: .2s;
}
.img-7:hover figcaption a {
    transform: translateY(0);
    transition-delay: .3s;
}



.img-8 figcaption {
    top: 0;
    left: 0;
    background-color: #6F4C3F;
    transform: scale(0);
    opacity: 0;
    transition: all 1s;
    transition-delay: 0s;
}
.img-8:hover figcaption {
    transition-delay: .5s;
    transform: scale(1) rotate(-360deg);
    opacity: 1;
}
.img-8 img {
    transition: all 1s;
    transition-delay: .5s;
}
.img-8:hover img {
    transition-delay: 0s;
    transform: scale(0) rotate(-360deg);
    opacity: 0;
}



.img-9 figcaption {
    top: 0;
    left: 0;
    transform: scale(5);
    opacity: 0;
}
.img-9:hover figcaption {
    transform: scale(1);
    opacity: 1;
}



.img-10:hover img {
    transform: translateY(100%);
}
.img-10 figcaption {
    top: 0;
    left: 0;
    background-color: #6F4C3F;
    transform: translateY(-100%);
}
.img-10:hover figcaption {
    transform: translateY(0);
}